<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>App Service</title>
  </head>
  <body>
    <form class="" action="https://situroax.net/cube/pagos" method="post">
      <label for="">ID</label>
      <input type="text" name="id" id="id" >
      <label for="">Nombre</label>
      <input type="text" name="nombre" id="nombre">
      <label for="">N°Control</label>
      <input type="text" name="noControl" id="noControl">
      <label for="">Origen</label>
      <input type="text" name="origen" id="origen">
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
